{{! views/partials/footer.hbs }}
<footer>
    <div class="container">
        <p>© {{currentYear}} MediaTracker. All rights reserved.</p>
        {{!-- Add other links if needed --}}
    </div>
</footer>
