<header>
    <div class="container header-content">
        <a href="/" class="logo"><h1>Media Watchlist</h1></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                {{#if user}}
                    <li><a href="/library">My Library</a></li>
                    <li><span class="username-display">Hi, {{user.username}}!</span></li>
                    <li><button id="logoutBtn" class="btn btn-secondary btn-small">Logout</button></li>
                {{else}}
                    <li><a href="/login">Login / Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</header>