{{! views/userListsOverview.hbs }}
<div class="lists-overview-page container">
    <h1>My Media Lists</h1>

    <div class="list-actions">
        {{!-- This button's click is handled by main.js to open the list creation modal --}}
        <button id="createListBtn" class="btn btn-primary">
             <span class="icon">➕</span> Create New List
        </button>
    </div>

     {{#if lists.length}}
         <section class="lists-container">
             {{!-- Iterate through the lists fetched by the viewRoute --}}
             {{#each lists}}
                 {{> listSummaryRow list=this isOwner=true}}
             {{/each}}
         </section>
     {{else}}
        {{!-- Message shown if the user has no lists --}}
        <p class="placeholder-text card">You haven't created any lists yet. Click "Create New List" to start!</p>
     {{/if}}

</div>